@use '../utils/' as u;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-green-lighter);
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  font-size: u.rem(16);
  color: var(--color-grey-darker);
}